<h2> Experiencia Laboral </h2>
<div class="row">
    <td *ngIf="isLogged"><button type="button" class="btn btn-secondary" routerLink="/nuevaexp"> Nueva Experiencia
        </button></td>



    <section id="educacion" class="container-fluid">
        <div class="container py-4 contenedor">



            <ul class="row justify-content-center list-unstyled mt-3" id="prueba">
                <li class="col-12 card mb-3" *ngFor="let Experiencia of experiencia">

                    <tr>
                        <td *ngIf="isLogged">
                            <button class="btn btn-light" routerLink="/editexp/Experiencia.id}}">
                                <i class="bi bi-pencil-fill"></i> EDITAR</button>
                        </td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                                <i class="bi bi-trash-fill"></i> BORRAR</button>
                        </td>


                    </tr>
                    <div class="row g-0">
                        <div class="col-md-4 d-flex align-items-center">
                            <div class="edu-img"><iframe width="360" height="300" src="{{Experiencia.linkE}}"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe></div>
                        </div>


                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title display-6 text-center"> <span
                                        class="fw-bolder">{{Experiencia.nombreE}} </span></h4>
                                <p class="card-text fs-4">{{Experiencia.descripcionE}}
                                </p>
                                <a href="{{Experiencia.linkkE}}" target="_blank" class="Urbano"
                                    rel="noopener noreferrer"><p>  Mas info</p></a>
                                <div class="row justify-content-between">
                                    <div class="col-md">
                                        <p class="fs-4"><span class="fw-bolder">Año:</span> {{Experiencia.fechaE}} </p>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </li>





            </ul>

        </div>
    </section>
</div>