<div class="container-fluid">
        <h2> Acerca de mi  </h2> 
            <p> 
            Mi nombre es Agustín Aguirre Lazzeri, tengo 28 años, nací en Rio Grande Tierra Del Fuego, 
            pero vivo actualmente en Santa Rosa La Pampa, Soy operador de radio-video; gracias a la iniciativa
            del Ministerio de Desarrollo Productivo y sin conococmientos previos, pude meterme en el mundo de la 
            programa y si logro terminar la 2da etapa del curso seré desarrollador Full Strack Jrs. Amante de los deportes. 
            </p>
    </div>
     


