
<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/img.png"  class="d-inline-block align-top" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.youtube.com/channel/UCajpyH-x1RsEBGN6oqIE59A" class="src" target="_blank" ><img src="../../../assets/youtube-brands.svg.png" alt=""></a>
            <a href="https://www.linkedin.com/in/agustin-aguirre-790a18211/" class="src" target="_blank"><img src="../../../assets/linkedin-brands.svg.png" alt=""></a>
            <a href="https://github.com/aguirrelazzeri-agustin" class="src" target="_blank"><img src="../../../assets/github-brands (1).svg.png" alt=""></a>
           
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged" >INICIAR SESION</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
            

        </div>
    </div>
</div>


 




