<div class="row">
    <h2 id="titulo">Habilidades</h2>
  <td>  <button type="button" class="btn btn-dark" routerLink="/nuevaski" *ngIf="isLogged" >Nueva Habilidad</button> </td>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let Skills of ski" > 
      
  <circle-progress
    [percent]="Skills.porcentaje"
    [radius]="100"
    [showUnits]="false"
    [title]= "Skills.nombreSkill"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="800"
    [lazy]="true"
  ></circle-progress>
  <button *ngIf="isLogged" routerLink="/editskills/{{Skills.id}}"><i class="bi bi-pencil-fill" id="btnsk" ></i></button>
  <button *ngIf="isLogged" (click)="delete(Skills.id)"><i class="bi bi-trash3-fill" ></i></button>
  </div>
  </div>
  <div class="row">
    <h2 id="titulo">Hard & Soft skills</h2>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4"> 
  <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]= "'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="800"
    [lazy]="true"
  ></circle-progress>
  </div>
  <div class=" text-center col-sm-4 col-md-4 col-lg-4"> 
  <circle-progress
  [percent]="75"
  [radius]="100"
  [showUnits]="false"
  [title]= "'CSS'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="800"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
  <circle-progress
  [percent]="60"
  [radius]="100"
  [showUnits]="false"
  [title]= "'JS'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="800"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
  <circle-progress
  [percent]="48"
  [radius]="100"
  [showUnits]="false"
  [title]= "'ANGULAR'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="800"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
  <circle-progress
  [percent]="55"
  [radius]="100"
  [showUnits]="false"
  [title]= "'Mysql'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="800"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
  <circle-progress
  [percent]="55"
  [radius]="100"
  [showUnits]="false"
  [title]= "'Base de datos'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="800"
  [lazy]="true"
  ></circle-progress>
  </div>
  </div>