<div class="row">
  <h2>Educación </h2>
  <div class="col-lg-2">
    <button type="button" class="btn btn-secondary" routerLink="/nuevaedu" *ngIf="isLogged">
      Nueva Educacion
    </button>
    <ul> 
      <li><h4> Institucion</h4></li>
      <li><h4>Descripcion</h4></li>
      <li>  <h4>Año</h4> </li>
   
    </ul>
  </div>
  
  <div class="col lg 1"></div>
  <div class="col-lg-11">
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let Educacion of educacion">
          <td><h4>{{Educacion.nombreE}}</h4></td>
          <td>{{Educacion.descripcionE}}</td>
          <td>{{Educacion.fechaE}}</td>
          <td *ngIf="isLogged">
            <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
            <i class="bi bi-pencil"></i></button>
          </td>
          
          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(Educacion.id)">
            <i class="bi bi-trash"></i></button>
          </td>
        </tr> 
      </tbody> 
    </table>
  </div>


</div>
<div class="col lg 1"></div>
  <div class="col-lg-11">
    <table class="table table-striped">
      <tbody>
        <tr >
          <td><h4> Escuela Primera Nº32 "IYU, que deja huellas"</h4></td>
          <td>Primerio Completo</td>
          <td> Año: 2006</td>
          <td><h4> Alicia Moreau De Justo (Ex Comercio Nº3) </h4></td>
          <td>Titulo de Polimodal-Modalidad Humanas y Ciencias Sociales: Completo.</td>
          <td>Año: 2006-2011  </td>
          <td><h4>Institutnpmo Superior de Educacion Fisica (ISEF Nº84) </h4></td>
          <td>Imcompleto:</td>
          <td>Año:2013</td>
          <td><h4>Universidad Nacional de La Pampa (UNLPam) - Lic.Comunicación Social  </h4></td>
          <td>Imcompleto</td>
          <td>Año: 2014 - Actualidad </td>
         
        </tr> 
      </tbody> 
    </table>
  </div>


